<template name="home">
	<section class="landing">
		<div class="hero-container">
			{{#each sections}}
				<div class="hero hero__{{slug}}">
					
				</div>
			{{/each}}
		</div>
	</section>
</template>



<!-- <span class="tri-bars">
	<span class="tri-bar-container">
		<span class="tri-bar"></span>
		<span class="tri-bar"></span>
		<span class="tri-bar"></span>
	</span>
	<span class="tri-bar-container">
		<span class="tri-bar"></span>
		<span class="tri-bar"></span>
		<span class="tri-bar"></span>
	</span>
	<span class="tri-bar-container">
		<span class="tri-bar"></span>
		<span class="tri-bar"></span>
		<span class="tri-bar"></span>
	</span>
	<span class="tri-bar-container">
		<span class="tri-bar"></span>
		<span class="tri-bar"></span>
		<span class="tri-bar"></span>
	</span>
	<span class="tri-bar-container">
		<span class="tri-bar"></span>
		<span class="tri-bar"></span>
		<span class="tri-bar"></span>
	</span>
	<span class="tri-bar-container">
		<span class="tri-bar"></span>
		<span class="tri-bar"></span>
		<span class="tri-bar"></span>
	</span>
	<span class="tri-bar-container">
		<span class="tri-bar"></span>
		<span class="tri-bar"></span>
		<span class="tri-bar"></span>
	</span>
</span> -->